{% extends 'base.html.twig' %}

{% block title %}Habitat index{% endblock %}

{% block body %}
    <h1>Habitat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habitat in habitats %}
            <tr>
                <td>{{ habitat.id }}</td>
                <td>{{ habitat.nom }}</td>
                <td>{{ habitat.description }}</td>
                <td>
                    <a href="{{ path('app_habitat_show', {'id': habitat.id}) }}">show</a>
                    <a href="{{ path('app_habitat_edit', {'id': habitat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_habitat_new') }}">Create new</a>
{% endblock %}
