{% extends 'base.html.twig' %}

{% block title %}OpeningHours{% endblock %}

{% block body %}
    <h1>Heures d'ouverture</h1>

    <table class="table">
        <thead>
            <tr>
                <th>jour</th>
                <th>ouverture</th>
                <th>fermeture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opening_hour in opening_hours %}
            <tr>
                <td>{{ opening_hour.day }}</td>
                <td>{{ opening_hour.openHour ? opening_hour.openHour|date('H:i') : '' }}</td>
                <td>{{ opening_hour.closeHour ? opening_hour.closeHour|date('H:i') : '' }}</td>
                <td>
                    {# <a href="{{ path('app_opening_hours_show', {'id': opening_hour.id}) }}">show</a> #}
                    <a href="{{ path('app_opening_hours_edit', {'id': opening_hour.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_opening_hours_new') }}">Ajouter un nouvel horaire</a>
{% endblock %}
