{% extends 'base.html.twig' %}

{% block title %}OpeningHours{% endblock %}

{% block body %}
    <h1>OpeningHours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opening_hour.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ opening_hour.day }}</td>
            </tr>
            <tr>
                <th>OpenHour</th>
                <td>{{ opening_hour.openHour ? opening_hour.openHour|date(' H:i') : '' }}</td>
            </tr>
            <tr>
                <th>CloseHour</th>
                <td>{{ opening_hour.closeHour ? opening_hour.closeHour|date(' H:i:') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_opening_hours_index') }}">back to list</a>

    <a href="{{ path('app_opening_hours_edit', {'id': opening_hour.id}) }}">edit</a>

    {{ include('opening_hours/_delete_form.html.twig') }}
{% endblock %}
