{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="card shadow-lg">
        <div class="card-header bg-success text-white">
            <h1 class="text-center">Bienvenue sur la page de {{ animal.name }}</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">
                        {{ animal.name }} est un des animaux du zoo Arcadia, il fait partie de la race des {{ animal.race }}
                        et est situé dans l'habitat {{ animal.habitat.nom }}.
                    </p>
                    <p>
                        Pour venir voir {{ animal.name }} ainsi que ses congénères, nous vous donnons rendez-vous à notre zoo où vous pourrez découvrir une expérience inoubliable.
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="{{ asset('images/zoo.jpeg') }}" class="img-fluid rounded" alt="petit train">
                </div>
            </div>
        </div>
    </div>
</div>
{# {% include 'footer.html.twig' %} #}
{% endblock %}
