{% extends 'base.html.twig' %}

{% block title %}formulaire de contact{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
{# {% include 'footer.html.twig' %} #}

<style>

  
</style>
<div class="container mt-5">
    <h1>Formulaire de contact</h1>

    {{ form_start(form, {'attr': {'class': 'row g-3'}}) }} 

        <div class="col-md-6">
            {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-md-12">
            {{ form_row(form.mail, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>

    {{ form_end(form) }}     
</div>
{% endblock %}
