{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}

<div class="container mt-5 mb-3">
    <h1 class="text-center mb-4">Formulaire de contact</h1>

    <p class="text-center">
        Le Zoo Arcadia se tient à disposition pour répondre à toutes vos questions. 
        Contactez-nous à l'aide du formulaire ci-dessous, et une réponse vous sera envoyée 
        dans un délai de 3 jours ouvrés.
    </p>
    
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}

                <div class="col-md-6">
                    {{ form_row(form.title, {'label': 'Sujet', 'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.description, {'label': 'Description', 'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-md-12">
                    {{ form_row(form.mail, {'label': 'Adresse email', 'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
                </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>

{% include 'footer.html.twig' %}

{% endblock %}
