{% extends 'base.html.twig' %}

{% block title %}AnimalFeeding{% endblock %}

{% block body %}
    <h1>AnimalFeeding</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal_feeding.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ animal_feeding.Date ? animal_feeding.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FoodType</th>
                <td>{{ animal_feeding.foodType }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ animal_feeding.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_animal_feeding_index') }}">back to list</a>

    <a href="{{ path('app_animal_feeding_edit', {'id': animal_feeding.id}) }}">edit</a>

    {{ include('animal_feeding/_delete_form.html.twig') }}
{% endblock %}
