{% extends 'base.html.twig' %}

{% block title %}Espace employé{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Bonjour, bienvenue dans votre espace employé</h1>

        <div class="row">
            <div class="col-md-4">
                <h3>Voici la liste des avis en attente de validation</h3>

                {% if pendingReviews is not empty %}
                    <table class="table table-striped table-bordered mt-4">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Nom de l'auteur</th>
                                <th scope="col">Contenu de l'avis</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for review in pendingReviews %}
                                <tr>
                                    <td>{{ review.name }}</td> >
                                    <td>{{ review.content }}</td>
                                    <td>
                                        <a href="{{ path('employe_review_approve', {id: review.id}) }}" class="btn btn-success btn-sm">Approuver</a>
                                        <a href="{{ path('employe_review_reject', {id: review.id}) }}" class="btn btn-danger btn-sm">Rejeter</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info mt-4">Aucun avis en attente pour le moment.</div>
                {% endif %}
            </div>
            <div class="col-md-8">
               <h3> Que souhaitez vous effectuer aujourd'hui?</h3>
               <a class="btn btn-primary text-white" href="{{url('app_services_index') }}">Modifier les services</a>
               <a class="btn btn-primary text-white" href="{{url('app_animal_feeding_new') }}">Ajouter de la nourriture à un animal</a>
              
               {# <a class="btn btn-primary text-white" href="{{url('app_animal_feeding_index') }}">ajouter de la nourriture à un animal</a> #}
            </div>
        </div>
        
{% endblock %}
